.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Navbar {
    width: 80%;
}

.Homepage {
    width: 100%;
    position: relative;
}

.Hero {
    width: auto;
    height: 400px;
    background-image: url('https://www.wallpaperflare.com/static/617/539/798/food-pizza-pepperoni-set-wallpaper.jpg');
    position: fixed;
    min-width: 100%;
    min-height: auto;
    background-size: cover;
    background-position: center;
}

.Hero h1 {
    padding-top: 100px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px black;
}

.order-hero-img {
    width: 460px;
    height: auto;
}
.error {
    font-size: 13px;
    color: red;
}

.underHero {
    margin-top: 400px;
    width: auto;
    color: red;
}
